language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "4"
  - "5"
  - "6"
  - "7"

matrix:
  fast_finish: true
  allow_failures:
  	- node_js: "0.10"
    - node_js: "0.11"
    - node_js: "0.12"
